#nostr-feed-widget {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 30rem;
}
.nostr-post {
    border-bottom: 1px solid #999;
    padding: 10px 0;
}
.nostr-profile-link {
    color: #0000ff;
    text-decoration: none;
}

.site-footer {
    text-align: right !important;
}
.footer_social_logo {
  max-width: 2rem !important;
  margin: 0 .25rem;
}
